<h1> Reddit(kinda) </h1>
<h2> Explore the interwebs </h2>

<ol class="link_list">
	<%= @links.each do |link| %>
		<li>	
			<%= link_to link.title, link_path(link) %>
			<%= link_to "Discuss this link!!!", comment_path(link), method: :get %>  ###HELP
		</li>
	<%= end %>
</ol>