<h1> Reddit(kinda) </h1>

<h3>User posted links and comments:</h3>

<ol class="link_list">
	<% @links.each do |link| %>
		<li>	
			<%= link_to link.title, "#{link.url}" %>
			 <div class="delete-comment">
			 		 <span><%= link_to "Comment", comments_path(link) %>
			         <%= link_to "Delete", delete_path(link), method: "delete" %></span>
		     </div>
		</li>
	<% end %>
</ol>

<div class="submit-new">
<%= link_to "Post a New Link!", links_new_path %>
</div>