<h1> Reddit(kinda) </h1>
<h2> Explore the interwebs </h2>

<ol class="link_list">
	<% @links.each do |link| %>
		<li>	
			<%= link_to link.title, link.url %>
			<%= link_to "Discuss this link!!!", comments_path(link) %>
		</li>
	<% end %>
</ol>

<%= link_to "Submit New", links_new_path %>