/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-color:#B8BDBF;
}

.nav-title {
	font-family: Andale Mono, monospace;
}

h1 {
	font-family: Andale Mono, monospace;
}

a:link {
	text-decoration:none;
}

a {
	color:black;
}

.submit-new {
	margin-left:38px;
}

.link_list {
	font-family: Lucida Console, Monaco, monospace;
}

.link_list li a {
	color:#0A0A0F;
	font-size: 30px;
	font-family: Lucida Console, Monaco, monospace;
}

.link_list p a{
	color:#0066FF;
}
 
.link_list span a{
	color:#FF4D4D;
	font-size:12px;
	padding:2px;
}

.delete-comment{
	height:22px;
}
 .submit-new a {
 	color:black;
 	font-family: Impact, Charcoal, sans-serif;
 	margin-left: 7px;
 }



